html, body {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
}
body {
  color: #333;
  font-family: monospace;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

table {
  max-width: 100%;
  width:100%;
}

h1 {
  text-align: center;
  color: #000;
}

ul {
  list-style-type: none;
  padding: 0;
  border: 0;
  outline: 0;
  margin: 0;
  display: block;
}


table {
  border-collapse: collapse;
  text-align: left;
}

.fail{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
table tbody tr{
  background-color: #fff;
  width: 100%;
  max-width: 100%;
}

.success{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.success, .fail {
  font-size: 22px;
  text-align: center;
  cursor: pointer;
}

td {
  white-space: pre;
  max-width: 100%;
  width: 100%;
  padding: 5px 10px;
}

table {
  table-layout: fixed;
}

table, th, td {
  border: 1px solid black;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

th {
  white-space: nowrap;
  background: #f9d76a;
  color: #000;
  text-align: center;
}

.container {
  padding-bottom: 50px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.jsonViewerReq {
  overflow-x: scroll;
  max-width: 50vw;
}

.jsonViewerRes {
  overflow-x: scroll;
}
